---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
---

<Layout title="About me">
  <Navbar />
  <main class="px-5 md:ml-20 lg:flex lg:ml-0 lg:justify-center lg:gap-10">
    <div class="mb-10">
      <img
        class="w-40 lg:w-60"
        src="/florca.webp"
        alt="Fernando Lorca"
      />
    </div>
    <p class="text-sm leading-8 md:max-w-lg">
      Soy diseñador gráfico; no obstante he incorporado la <span
        class="font-bold text-[#D13667]">programación</span
      > en mis tareas profesionales, permitiéndome añadir funcionalidad a las
      distintas ideas gráficas en las organizaciones en las que he colaborado.
      Me he convertido en un <span class="font-bold text-[#D13667]"
        >desarrollador Full Stack</span
      > autodidacta, gracias a cursos en línea y bootcamps. Me especializo en
      HTML, CSS, JavaScript, Node.js, React.js, SQL y Typescrypt. Para mis
      aplicaciones, utilizo la gestión de versiones con Git y he llevado a cabo
      numerosos proyectos personales con el objetivo de construir un <span
        class="font-bold text-[#D13667]">sólido portafolio</span
      > y abrirme camino en el competitivo mercado laboral. Comprometido con la
      innovación y el trabajo en equipo, me esfuerzo estar en un constante
      aprendizaje de nuevas tecnologías para estar preparado a la hora de
      ofrecer <span class="font-bold text-[#D13667]"
        >soluciones innovadoras</span
      >.
    </p>
  </main>
</Layout>
