---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
---

<Layout title="About me">
  <Navbar href="/" />
  <main class="px-5 md:ml-20 lg:flex lg:ml-0 lg:justify-center lg:gap-10">
    <div class="mb-10">
      <img
        class="w-40 lg:w-60"
        src="/florca.webp"
        alt="Fernando Lorca"
      />
    </div>
    <p class="text-sm leading-8 md:max-w-lg">
      I am a graphic designer; however, I have incorporated <span
        class="font-bold text-[#D13667]">programming</span
      > into my professional tasks, allowing me to add functionality to various
      graphic ideas within the organizations I have collaborated with. I have
      become a self-taught <span class="font-bold text-[#D13667]"
        >Full Stack</span
      > developer, thanks to online courses and bootcamps. I specialize in HTML,
      CSS, JavaScript, Node.js, React.js, SQL, and Typescript. For my
      applications, I use version control with Git and have carried out numerous
      personal projects with the aim of building a
      <span class="font-bold text-[#D13667]">strong portfolio</span> and making
      my way into the competitive job market. Committed to innovation and
      teamwork, I strive to be in a constant state of learning new technologies
      to be prepared to offer <span class="font-bold text-[#D13667]"
        >innovative solutions</span
      >.
    </p>
    <p></p>
  </main>
</Layout>
