---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Fernando Lorca">
  <div class="flex justify-center py-5">
    <img
      src="/florca-logo.svg"
      class="w-20"
      alt="Logo Fernando Lorca"
    />
  </div>
</Layout>
