---
interface Props {
  src: string
  alt: string
}

const { src, alt }: Props = Astro.props
---

<div class="flex justify-center items-center">
  <img
    src={src}
    alt={alt}
    class="rounded-lg max-w-[15rem] max-h-[15rem] md:max-w-[20rem] md:max-h-[20rem]"
  />
</div>
