---
import Layout from '../../layouts/Layout.astro'
import Navbar from '../../components/Navbar.astro'
import PageTitle from '../../components/PageTitle.astro'
import CardPortfolio from '../../components/CardPortfolio.astro'

const projects = await Astro.glob('./projects/*.mdx')
---

<Layout title="Portfolio">
  <Navbar />
  <main class="flex items-center flex-col">
    <PageTitle title="Portfolio" />
    <div class="grid grid-cols-2 gap-5 px-5 lg:max-w-[50rem]">
      {
        projects.map(project => (
          <CardPortfolio
            title={project.frontmatter.title}
            tech={project.frontmatter.tech}
            href={project.url}
          />
        ))
      }
    </div>
  </main>
</Layout>
